.notesLayout{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
    padding: 15px 15px;
    background-color: #FFF;
    .notesHeader{
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 10px;
        .headerAction{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: flex-end;
        }
    }
    .notesContent{
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 10px;
    }
}

.sessionList{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.boldData{
font-weight: bold;
}